body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 13px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addLeftRightButton{
  padding:5px 12px;
  float:right;
}
.methodButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.background {
  border: 2px solid black;
  padding: 25px;
  background: url(assets/Castle_Courtyard.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%
}
.dancer{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url(assets/linkdoofDance.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  70px;
  height: 100px;
}

.runningLink {
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url(assets/linkRunning.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.tingle{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url(assets/tingleDance.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.triforce{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url(assets/triforce.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}



